*{
    margin: 20px;
}
/*banner part*/
.Banner{
    background-image:linear-gradient(180deg, #010004 0%, rgba(7, 2, 17, 0.00) 100%),url("../resources/Banner-Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    border-radius: 10px;
    
    
}
.banner-text{
    color:white;
    text-align: center;
    padding-top: 140px;
    text-shadow: 2px 2px 4px rgba(22, 21, 21, 0.5);
    
    
}
.happy{
    
    font-size:32px;
}
.new{
    
    font-size: 80px;
    
}
.celebration{
    
    font-size: 80px;
}

/*discount & new year part*/
.new-year-section{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    
}
.discount{
    color: red;
    font-size: 40px;
    font-weight: bolder;
}
.discount-title{
    color: red;
    font-weight: bolder;
}
.discount-categories{
    font-size: 30px;
}
.discount-img{
    max-height: 600px;
    max-width: 600px;
}
/*mid-night section*/
.mid-night{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 70%), url("../resources/Vectorrr.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    display: flex;
    border-radius: 10px;
    
   
    
}
.mid-night-text{
    padding-top: 50px;
    padding-left: 60px;
}
.mid-night-head{
    font-size: 70px;
    width: 500px;
    color: white;
}
.mid-night-description{
    color: rgb(235, 230, 230);
}
.mid-night-img{
    max-height: 400px;
    padding-right: 50px;
}
/*join now section*/
.join-now{
    background: linear-gradient(to top, #ffffff 40%, #ff99cc 100%);
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
}
.red{
    color: red;
}
.btn{
    border-radius: 5px;
    background-color: #ed4d1c;
    color: white;
    border: 0;
    font-size: 18px;
    padding: 10px 15px;
}
/*coming soon part*/
.coming-soon-part{
    padding-top: 20px;
    display: flex;
    margin-top: 40px;
}
.coming-soon-img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid red;
    padding: 15px;
    
}
.coming-soon-section{
    max-width: 300px;
    padding-top: 70px;
    
}
.coming-soon-head{
    color: red;
    
}
.coming-soon-head2{
    font-size: 40px;
    
}
.coming-soon-description{
    color: #3a3a3b;
}
.coming-soon-2024{
    padding-top: 70px;
    
}
/*holiday sale section*/
.holiday-sale-text{
    text-align: center;
    margin-top: 40px;
}
.holiday-sale-description{
    padding-left: 200px;
    padding-right: 200px;
}
.holiday-sale-img{
    background-image: url("../resources/Rectangle\ 1.png"), url("../resources/Rectangle\ 2.png");
    background-position: top right,bottom;
    padding-bottom: 200px ,0px;
    background-repeat: no-repeat;
    margin-top: 80px;
    display: flex;
    border-radius: 10px;
}
.holiday-img-1{
    width: 450px;
    height: 350px;
    padding-top: 200px;
    padding-left: 20px;
}
.holiday-img-2{
    z-index: 1;
    width: 400px;
    padding-bottom: 223px;
    
}
/*our awesome portfolio part*/
.gift-section{
    width: 700px;
    margin-top: 40px;
}
.gift-img{
    max-width: 340px;
}
.gift-img:hover{
    /* border: 2px solid red; */
    transform: scale(1.1);
    
}
/*subscribe newsletter section*/
.newsletter-section{
    background-color: rgb(240, 233, 166);
    margin-top: 40px;
    padding-bottom: 10px;
    text-align: center;
}
.search-bar{
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    border: none;
    margin-right: 0px;
    padding: 10px 15px 10px 15px;
}
.search-btn{
    padding: 10px 15px 10px 15px;
    margin-left: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    color: white;
    background-color: red;
}
/*footer part*/
footer{
    
    background-color: #06010d;
    color: white;
    margin-top: 40px;
}
.footer-location{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    
}
.location{
    padding-top: 20px;
}
.media-icon{
    text-align: center;
    border-bottom: 1px solid white;
}
.icon{
    width: 30px;
    height: 30px;
}
.footer-text{
    display: flex;
    justify-content: space-between;
}